<div class="container-fluid rank-holder-details border-2 border-info head-border-shadow">
  <div class="rank holder holder-heading">
    Rank
  </div>
  <div class="holder-name holder holder-heading">
    Username
  </div>
  <div class="holder-time-taken holder holder-heading">
    Test time
  </div>
  <div class="holder-percentage holder holder-heading">
    Percentage
  </div>
</div>
<div class="container-fluid rank-holder-details ">
  <div class="rank holder">
    <span class="rank-circle">
      1
    </span>
  </div>
  <div class="holder-name holder">
    Logunathan
  </div>
  <div class="holder-time-taken holder">
    8:45
  </div>
  <div class="holder-percentage holder">
    80%
  </div>
</div>

