<div class="container-fluid mx-auto border-black bg-warning w-75 mt-5 testRulesBox">
  <ul>
    <li>Carefully read all test instructions before starting.</li>
    <li>Ensure your internet, computer, and necessary software are ready.</li>
    <li>Find a distraction-free, well-lit area to take the test.</li>
    <li>Follow proctoring requirements if applicable, including webcam and microphone setup.</li>
    <li>Use only allowed materials and do not communicate with others.</li>
    <li>Remain attentive and minimize movements during the test.</li>
    <li>Immediately report any technical problems.</li>
    <li>Double-check your answers and ensure the test is submitted properly.</li>
  </ul>

  <button [routerLink]="['testpage']" (click)="letsStartTest()" class="btn btn-info startbtn me-2 ">Start Test</button>
</div>


