<div class="container-fluid w-75 mx-auto my-4 quesContainer p-3 px-5">
  <h4 class="questionBox">
    {{qdata?.['questionNo'] + ") " +qdata?.['question']}}
  </h4>
  <div class="choiseBox">
    <app-choise *ngFor="let ch of qdata?.['options'];let i=index;" [ch]="ch" [clickedId]="id" [fl]="qdata?.selectedOptionIndex === i" [ans]="qdata?.answer" (id)="selectedId($event)" [idIs] = "qdata?.id+'_'+i"></app-choise>
  </div>
  <div class="actionButtion mt-3 d-flex justify-content-around">
    <button class="btn btn-primary" [disabled] = "currentQuestionIndex === 0" (click)="questionNumberClicked(currentQuestionIndex-1)">Prev</button>
    <button class="btn btn-success" [disabled] = "qdata?.['selectedOptionIndex'] === -1">{{(qdata?.['selectedOptionIndex'] === -1)?'Save':'Saved'}}</button>
    <button class="btn btn-primary" [disabled] = "currentQuestionIndex === 9" (click)="questionNumberClicked(currentQuestionIndex+1)">Next</button>
  </div>
</div>


