
$btn-font-size:20px;
*{
  margin: 0px ;
  padding: 0px ;
  box-sizing: border-box ;
}

body{
  width: 100vw;
  height: 100vh;
}
.fullbox{
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
}
.box{
  width: 300px;
  height: fit-content;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid black;
  box-shadow: 5px 5px 10px skyblue;
}
label{
  font-weight: 600;
  margin-top: 20px !important;
}
.box input{
  height: 30px !important;
  padding-left: 10px !important;
}
h2{
  text-align: center;
  margin-bottom: 10px;
}
#loginbtn{
  font-size: $btn-font-size;
}

.notification{
  transition: all 3s linear;
  position: absolute;
  top:10px;
  right:10px;
}

.carouselcheck{
  background-color: black;
  opacity: .9;
  padding: 0px !important;
}
.cardcheck{
  width: 100%;
  height: 60%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}
.imgcheckbox{}
.imgcheck{
  width:100% !important;
  height:100% !important;
}
.taketest{
  &:hover{
    background-color: none !important;
  }
}
.item{
  // place-items:center;
  margin-top: 4%;
}
svg{
  width: 30px;
  height: 30px;
}
.navbars .nav-link{
  font-weight: 700;
  color: white;
}


